In [1]:
#ANOVA(analysis of verience)is a statictics formula used to compaire variances,across the means of differece group
#compaire variances of two or more group
#SST total sum of the square
#SSB sum of the square between 
#SSW sum of square within
#degree of fredom for 3 group and 3 data in each coloum DOF is m(n-1)=3(3-1)=6
#SST=(xi - total mean of group)^2
#SSW=(xi - respective coloum mean)^2
#SSB=(respective coloum mean - total mean of group)*the repetation based on (number of element) 
#we focus on how the multiple independent variables (predictors) influence or lead to differences in the mean of the dependent

In [2]:
#one way anova
#one dependent variable and independent veriable
#two way anova is(one dependent variable and muliple independent veraible)

In [3]:
import pandas as pd
data=pd.read_csv('C:/Users/dheve/OneDrive/Desktop/course/soil.csv')
data.head()

,index,datetime,soil_moisture,soil_temperature,ph,countour,462,466,470,474,...,914,918,922,926,930,934,938,942,946,950
0,0,23-05-2017 14:06,33.51,34.8,0.082131,0.055863,0.050047,0.047925,0.047498,0.046464,...,0.152845,0.152615,0.152927,0.154240,0.155018,0.154725,0.154682,0.154275,0.153477,0.153929
1,1,23-05-2017 14:08,33.49,35.2,0.079510,0.055326,0.049116,0.047579,0.046745,0.046833,...,0.152715,0.153102,0.153551,0.153590,0.153688,0.153370,0.154021,0.155543,0.156220,0.156727
2,2,23-05-2017 14:10,33.46,35.4,0.080599,0.054065,0.049150,0.047537,0.046525,0.046032,...,0.152362,0.152158,0.153204,0.153942,0.154610,0.154629,0.155609,0.155545,0.154884,0.154485
3,3,23-05-2017 14:12,33.33,35.0,0.078024,0.054972,0.049052,0.047920,0.046883,0.046775,...,0.153281,0.153990,0.154499,0.155012,0.154691,0.154643,0.155405,0.155918,0.157645,0.157824
4,4,23-05-2017 14:14,33.32,35.3,0.079973,0.055335,0.049314,0.047373,0.047028,0.046963,...,0.152803,0.153085,0.153295,0.154230,0.155071,0.155624,0.156504,0.156859,0.156634,0.156176

In [4]:
#use case:H0:Soil moisture is dependent on soil temprerature and ph
#h1:Soil moisture is not dependent on soil temprerature and ph

In [5]:
data.shape

(679, 129)

In [6]:
data.info

<bound method DataFrame.info of      index          datetime  soil_moisture  soil_temperature        ph  \
0        0  23-05-2017 14:06          33.51              34.8  0.082131
1        1  23-05-2017 14:08          33.49              35.2  0.079510
2        2  23-05-2017 14:10          33.46              35.4  0.080599
3        3  23-05-2017 14:12          33.33              35.0  0.078024
4        4  23-05-2017 14:14          33.32              35.3  0.079973
..     ...               ...            ...               ...       ...
674    677  26-05-2017 14:00          29.95              40.5  0.095628
675    678  26-05-2017 14:02          29.85              39.5  0.095172
676    679  26-05-2017 14:04          29.78              39.5  0.095643
677    680  26-05-2017 14:06          29.90              39.5  0.095016
678    681  26-05-2017 14:08          29.75              39.7  0.097682

     countour       462       466       470       474  ...       914  \
0    0.055863  0.050047  0.047925  0.047498  0.046464  ...  0.152845
1    0.055326  0.049116  0.047579  0.046745  0.046833  ...  0.152715
2    0.054065  0.049150  0.047537  0.046525  0.046032  ...  0.152362
3    0.054972  0.049052  0.047920  0.046883  0.046775  ...  0.153281
4    0.055335  0.049314  0.047373  0.047028  0.046963  ...  0.152803
..        ...       ...       ...       ...       ...  ...       ...
674  0.063323  0.054875  0.052592  0.051657  0.050532  ...  0.163177
675  0.064181  0.054754  0.052329  0.051583  0.051085  ...  0.163974
676  0.064545  0.055754  0.052565  0.052036  0.051648  ...  0.164781
677  0.064233  0.055004  0.052435  0.051800  0.050964  ...  0.164162
678  0.065442  0.056054  0.053890  0.052824  0.051931  ...  0.165825

          918       922       926       930       934       938       942  \
0    0.152615  0.152927  0.154240  0.155018  0.154725  0.154682  0.154275
1    0.153102  0.153551  0.153590  0.153688  0.153370  0.154021  0.155543
2    0.152158  0.153204  0.153942  0.154610  0.154629  0.155609  0.155545
3    0.153990  0.154499  0.155012  0.154691  0.154643  0.155405  0.155918
4    0.153085  0.153295  0.154230  0.155071  0.155624  0.156504  0.156859
..        ...       ...       ...       ...       ...       ...       ...
674  0.163567  0.164741  0.164674  0.164187  0.164769  0.165175  0.165139
675  0.163969  0.164486  0.164360  0.164200  0.164243  0.164071  0.163975
676  0.165449  0.165924  0.165939  0.165627  0.164795  0.164872  0.164913
677  0.164828  0.165642  0.166186  0.166549  0.165808  0.165923  0.166376
678  0.166198  0.166590  0.167583  0.167872  0.167655  0.167314  0.166546

          946       950
0    0.153477  0.153929
1    0.156220  0.156727
2    0.154884  0.154485
3    0.157645  0.157824
4    0.156634  0.156176
..        ...       ...
674  0.164672  0.164568
675  0.164415  0.165097
676  0.165139  0.165224
677  0.166403  0.165649
678  0.166405  0.165966

[679 rows x 129 columns]>

In [7]:
data.isnull().sum()

index               0
datetime            0
soil_moisture       0
soil_temperature    0
ph                  0
                   ..
934                 0
938                 0
942                 0
946                 0
950                 0
Length: 129, dtype: int64

In [8]:
#eda 2:bulidign model and evaluate it
import statsmodels.api as sm
import statsmodels.formula.api as api
mod=api.ols('soil_moisture ~ soil_temperature',data=data).fit()
mod

In [9]:
aov=sm.stats.anova_lm(mod)
aov

                     df       sum_sq      mean_sq            F         PR(>F)
soil_temperature    1.0  5657.886682  5657.886682  1142.789524  1.675854e-147
Residual          677.0  3351.788937     4.950944          NaN            NaN

In [10]:
#for two way anova
import statsmodels.api as sm
import statsmodels.formula.api as api
mod=api.ols('soil_moisture ~ soil_temperature+ph',data=data).fit()
mod

In [11]:
aov1=sm.stats.anova_lm(mod)
aov1
#m->number of group,n->number of observation
#soil_temp and ph is indepedent and residual is the error
#df is degree of freedom of n-1(independent) and m(n-1)(residual)
#Sum_sq is SSB(independent) and SSW(residual)
#mean_sq is MSB=SSB/n-1(independent) and MSW=SSW/m(n-1)(residual)
#F=MSB/MSW
#MSB: It captures how much the group means differ from the overall mean
#MSW: It measures how much individual observations differ from their group mean
#PR(>F)P-value
#Residual is the error(how much is vering)
#x is soil_temrature in y=mx+b
# F<2.5 will accept
# F>2.5 reject
#p-value 3.78*10^-160 we reject it
#F value give ratio between two group if null hypothsis the value is close to 1
#F greater then 2.5 then we reject null hypothsis
#degree of freedom:maximum number of logical indipendent value which will vary in the sample with respect to mean
#the nth value is determine becaues x4=n*x_mean-(x1,x2,x3)
#If the F-statistic is close to 1, it suggests that the variability between the group means is similar to the variability within the groups, implying that the group means are likely not significantly different from each other.
#If the F-statistic is greater than the critical value, or the p-value is less than a chosen significance level (often ð›¼=0.05 Î±=0.05), you reject the null hypothesis
#reject null hypothsis mean:it indicates that the variability between the group means is significantly larger than the variability within the groups

                     df       sum_sq      mean_sq            F         PR(>F)
soil_temperature    1.0  5657.886682  5657.886682  1307.348864  3.784973e-160
ph                  1.0   426.225988   426.225988    98.486607   9.238778e-22
Residual          676.0  2925.562949     4.327756          NaN            NaN

Chisquare test

In [12]:
#help to determine observed result line with expected result
#it can be two categorical and also find the association numerical value
#chi_square=(observed(i)-actual(i))^2/actual(i) is the difference in obsevred and actual 
#so the probablity of getting chi-square as 6 is 10% which is 0.1 is p-value(chi2 contingency table)

In [13]:
# 1)sample size
# z-smaple size are typically used when sample size is larger(more then 30 data point)
# t-smaple size are typically used when sample size is lesser(less then 30 data point)
# 2)standard deviation
# z statistics are more useful when you know the standard deviation
# t statistics are more useful when the standard deviation is unknown

In [15]:
import numpy as np
from scipy import stats
sample_mean=80
population_mean=100
population_std=15
sample_size=50
alpha=0.05

In [17]:
z_score=(sample_mean-population_mean)/(population_std/np.sqrt(sample_size))
z_score#left skew asymmetric

-9.428090415820634

In [18]:
z_critical=stats.norm.ppf(1-alpha)#give how much sample mean differ from population mean
#1-alfha give the threshold value eg(0.95) if z_score greater then that we reject the null hypothsis
#z_critical is the edge_line(thresold)where it decide the hypothsis should reject or accept

In [19]:
z_critical

1.6448536269514722

In [21]:
if(z_score>z_critical):
    print("reject the null hypothsis")
else:
    print("accept the null hypothsis")

accept the null hypothsis

In [ ]:
p_value=1-stats.norm.cdf(z_score)
p_value#it is the probablity of the obeserving data which is consider to accept the null hypothsis

1.0